@import '../abstract/variaveis';
@import '../abstract/mediaqueries';

@font-face {
    font-family: 'Icones';
    src: url('../../font/icones.ttf');
}

html, body {
    font-family: $font;
    background-color: $background;
    color: $primary-color;
        @include largescreen {
        display: grid;
        grid-template-columns: auto 1fr;
    }
}