/* Font */
$font: 'Open Sans', sans-serif;

/* Colors */
$background: #1D2324;
$background-header: #15191C;
$background-card: #2C3434;
$primary-color: #FFFFFF;
$secondary-color: #95999c;
$links-color: #0480DC;

// Screen breakpoints
$phone: 640px;
$tablet: 768px;
$laptop: 1024px;
